@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Manrope|Muli|Roboto&display=swap');




body {
  margin: 0;
font-family: 'Manrope', sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #79dde8;
	font-family: 'Roboto', sans-serif;
}

.topnav a {
  float: right;
  display: block;
  color: #34675C;
  text-align: center;
  padding: 30px 20px;
  text-decoration: none;
  font-size: 22px;
  
}

.topnav a:hover {
  background-color: #53aac9;
  color: #34675C;
}

.topnav a.active {
  background-color: #53aac9;
  color: #34675C;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
}
  .topnav.responsive a {
    float: right;
    display: block;
    text-align: left;
  }
footer ul{
	text-align: center;
	
}
footer ul a{
	text-decoration: none;
	color: black;
}
footer ul a:hover{
	background-color: #53aac9;
}
footer p{
	text-align: center
}
footer{
	background-color: #79dde8;
	padding: 10px;
	font-family: 'Roboto', sans-serif;
}
.center{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	
}
.main_content{
	width: 70%;
	margin: auto;
	padding: 10px;
}
.parallax {
 	background-image:url("PIC/bmx-852683_1920.jpg");
 	min-height: 500px; 
  	background-attachment: fixed;
 	background-position: center;
 	background-repeat: no-repeat;
 	background-size: cover;
}
.tg  {
	border-collapse:collapse;border-spacing:0;
}
.tg td{
	border-color:black;border-style:solid;
	border-width:1px;font-family:Arial, sans-serif;font-size:14px;
 	overflow:hidden;
	padding:10px 5px;
	word-break:normal;
}
.tg th{
	border-color:black;
	border-style:solid;
	border-width:1px;
	font-family:Arial, sans-serif;
	font-size:14px;
  	font-weight:normal;
	overflow:hidden;
	padding:10px 5px;
	word-break:normal;
}
.tg .tg-0pky
{border-color:inherit;
	text-align:left;
	vertical-align:top;
}
.tg .tg-0lax{
	text-align:left;
	vertical-align:top;
}
table{
	width: 70%;
	margin: auto;
}
h1{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	
}
th{
	background-color: gray;
	color:white;
}